/*
========================================
Master Container
========================================
*/
.masterContainer {
  margin: auto;
  width: 800px;
  background-color: white;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/*
========================================
Page Content Container
========================================
*/
.pageContentContainer {
  display: grid;
  grid-template-columns: 325px 453px;
  grid-column-gap: 20px;
  grid-template-areas: "sidebar main";
}

/*
========================================
Main Column
========================================
*/
.mainCol {
  grid-area: main;
}