html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: #e5e5e5;
  font-size: 8pt;
  margin: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: #003399;
}

a:visited {
  color: #003399;
}

a:hover {
  text-decoration: underline;
  color: #cc0000;
}

h2 {
  font-size: 9pt;
  margin: 0;
  font-weight: bold;
}

p {
  line-height: 1.3;
}